@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: url("../fonts/Lato/Lato-Black.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  font-weight:500;
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
  font-style: normal;
}
}

@layer components {
  body{
    overflow-anchor: none;
  }
  
 .row{
  @apply flex flex-wrap -mx-4
 }

 .padding-116{
    padding: 0 464px;
 }

 .bg-color-1{
  background-color: #D4EFF7;
 }

 .bg-color-2{
  background-color: #D4F7F3;
 }

 .bg-color-3{
  background-color: #0D4841;
 }

 .bg-color-4{
  background-color: #1b8b7e;
 }

 .bg-color-5{
  background-color: #01001A;
 }
 

 .bg-gradient{
  background: -webkit-linear-gradient(45deg,#02AAB0, #00CDAC 100%);
 }
 

 .btn-col-1{
  background-color: #0D4841;
 }

 .btn-col-1:hover{
  background-color: #082f49;
 }

 .text-color-1{
  color: #0D4841;
 }

 .text-gradient{
  background: -webkit-linear-gradient(45deg,#02AAB0, #00CDAC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .list{
  background-color: #ffffff;
 }

 .list li:hover{
  background-color: #1b8b7e;
  border-radius: 2px;
 }

 .list li a:hover{
  color:#ffffff;
 }

 .arrow{
  color: #0D4841;
  border: 2px solid;
  border-color: #0D4841;
 }

 .arrow:hover{
  color: #ffffff;
  background-color: #0D4841;
 }

 .nav-bar a::before {
  content: '';
  height: 3px;
  width: 0%;
  background: #38bdf8;
  position: absolute;
  left: 0;
  top:33px;
  bottom: -1;
  transition: 0.4s;
 }

 .nav-bar a:hover::before {
  width: 100%;
 }
 .custom-bg-1{
    background-image: url("../image/contact-bg.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .custom-bg-2{
    background-image: url("../image/bg3.jpg");
    
 }

 /* ==================================latest=================================== */
 
 .nav-background{
  /* background: linear-gradient(90deg, #ffffff 3%, #008ccf 43%, #008dcf 43%); */
  background: linear-gradient(90deg, #ffffff 3%, #008ccf 65%, #008dcf 43%);
 }

 .list{
  background-color: #ffffff;
 }

 .list li:hover{
  background-color: #008ccf;
  border-radius: 2px;
 }

 .list li a {
  color: #008ccf
 }

 .list li a:hover{
  color:#ffffff;
 }

 #navbar {
  transition: 0.4s;
 }
 #navbar #logo {
  transition: 0.4s;
 }

 .backImage01 {
  background-image: url("../image/navBackground01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

 .backImage02 {
  background-image: url("../image/navBackground02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
}